# Ignorar archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar entornos virtuales de Python
/busDetection/
/busDetection_py310/
/youtube_env/
*.pyc
__pycache__/
.env

# Ignorar dependencias y archivos de caché de Node.js
/mobile-app/node_modules/
/mobile-app/.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de modelos y datos grandes
*.pt
*.onnx
*.pb
*.npy

# Ignorar videos y resultados generados
/videos/
/results/

# No ignorar el video de ejemplo que ya está en el repo (si se quiere mantener)
!/videos/LOS SITP DE BOGOTÁ_correctly_trimmed.mp4

# Ignorar archivos de configuración local (si los hubiera)
.vscode/
.idea/
